<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moguls</title>
</head>
<body>
    <h1>what do you wnat to do?</h1>
    <form action="/room_code" method="get">
        <button type="submit">Create</button>
    </form>
    <form action="enter_code" method="get">
        <button type="submit">Join</button>
    </form>
</body>
</html>