<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="monopoly.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/14ba3a16b4.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <img src="images/moguls.jpg" class="image"></img>
    <div class="whole">
    <form class="form1" action="/online_multiplayer" method="post">
        <button><i class="fa-solid fa-globe"></i><strong>ONLINE MULTIPLAYER</strong></button>
        <br>
    </form>
    <form >
        <button><i class="fa-solid fa-user-group"></i><strong>PLAY WITH FRIENDS</strong>
        </button>
        
        <br>   
    </form>
    <form >
        <button><i class="fa-solid fa-computer"></i><strong>VS. COMPUTER </strong>
        </button>
       
        <br>
    </form>
    <form action="/offline_mode" method="post">
        <button><i class="fa-solid fa-user"></i><strong>PLAY OFFLINE</strong>
        </button>
       
        <br>   
    </form>
    <form >
        <button><strong>QUIT</strong>
        </button>
       
        <br>   
    </form>
</div>
</body>

</html>