body {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

ul li ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    position: relative;
    padding: 0 10px;
    height: 100%;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    padding: 20px;
    transition: all 0.4s ease;
    transform: translate(100%, 0%);
    text-align: center;
}

nav.sticky {
    padding: 15px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .nav-content {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

nav .logo a {
    padding-left: 30px;
    
    font-weight: 500;
    font-size: 35px;
    color: #0D7CFF;
}

nav.sticky .logo a {
    color: #EEEEEE;
    font-size: 10px;
}

.nav-content .nav-links {
    display: flex;
}

.nav-content .nav-links li {
    list-style: none;
    margin: 0 8px;
}


.nav-links li a:hover {
    color: #EEEEEE;
}

nav.sticky .nav-links li a {

    transition: all 0.4s ease;
}

nav.sticky .nav-links li a:hover {
    color: #EEEEEE;
}

.home {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-size: 30px;
    margin-bottom: 6px;
    color: #EEEEEE;
}

.text {
    text-align: justify;
    padding: 40px 80px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.lo {
    height: 100px;
    width: 100px;
}

ul li ul li {
    display: none;

}

ul li:hover ul li {
    display: block;
}

/* board settings */

.board-corner {

    width: 130px;
    height: 130px;
}

.board-top {
    width: 90px;
    height: 130px;
}

.board-left {
    width: 130px;
    height: 90px;
}

.board-right {
    width: 130px;
    height: 90px;
}

.board-bottom {
    width: 90px;
    height: 130px;
}

#board {
    border: 2px solid white;
    border-spacing: 3px;
    margin: 25px;
    width: fit-content;
    height: fit-content;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    LEFT: 10PX;
}

td {
    border: solid 2px lightgrey;
    font-size: 12px;
    font-family: arial, sans-serif;
    text-align: center;
    position: relative;

}

/* player */
.corner {
    position: relative;
    display: flex;
    height: 130px;
    width: 130px;
}

.player {
    height: 15px;
    width: 15px;
    display: inline-block;
    position: absolute;
}

.p1 {
    background-color: red;
    top: 0;
    left: 0;
}

.p2 {
    right: 0;
    top: 0;
    background-color: blue;
}

.p3 {
    bottom: 0;
    left: 0;
    background-color: rgb(7, 172, 7);
}

.p4 {
    bottom: 0;
    right: 0;
    background-color: yellow;
}

.hidden {
    background-color: black;
}

.cell {
    color: white;
}


button {
    background-color: #CF0A0A;
    color: white;
    padding: 14px 0;
    margin: 5px 10px;
    border: none;
    cursor: grab;
    width: 23%;
    border-radius: 20px;
}

strong {
    padding: 0 5px;

}

button:hover {
    opacity: 0.8;
}

.chatbox {
    border-radius: 20px;
    height: 500px;
    width: 600px;
    background-color: #EEEEEE;
    position: absolute;
    bottom: 75px;
    right: 80px;
}

#form {
    background: #EEEEEE;
    padding: 0.25rem;
    position: fixed;
    bottom: 90px;
    right: 90px;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    position: absolute;
    left:15px;
    top:15px;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    padding: 0.5rem 1rem;
}


#input {
    width: 500px;
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#send{
    padding: 0;
}


.chatbox{
    Overflow-x:scroll;
    Overflow-y:scroll; 
}

